# Binaries

bin/
bin-int/
**.h.gch

# Cache cleanup

Scripts/Utility/Python/__pycache__

# Version header should be generated when Generate...Project script is run

Yakreb/src/Yakreb/Core/Version.h

# Visual Studio files and folders

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# CodeLite files and folders

.build-debug/
.build-release/
.build-dist/
.codelite/
Makefile
**.workspace
**.mk
**.project
**.txt

# Files we don't want to track

Sandbox/imgui.ini
