[submodule "Yakreb/vendor/spdlog"]
	path = Yakreb/vendor/spdlog
	url = https://github.com/PlagueTR/spdlog
[submodule "Yakreb/vendor/GLFW"]
	path = Yakreb/vendor/GLFW
	url = https://github.com/PlagueTR/GLFW
[submodule "Yakreb/vendor/glad"]
	path = Yakreb/vendor/glad
	url = https://github.com/PlagueTR/GL-Loader
[submodule "Yakreb/vendor/imgui"]
	path = Yakreb/vendor/imgui
	url = https://github.com/PlagueTR/imgui
	branch = docking
[submodule "Yakreb/vendor/glm"]
	path = Yakreb/vendor/glm
	url = https://github.com/g-truc/glm
